html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
